listings/Cheebo DB Chat.json
{
  "name": "Cheebo DB Chat",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=text: {{ $json.body.message }}",
        "options": {
          "systemMessage": "You are a helpful shopping assistant for Cheebo — a multi-vendor e-commerce marketplace. You have read-only access to the Cheebo database and can answer questions about products, stores, categories, and orders.\n\n## Database Schema\n\n### User\n- id (String PK), name, email (unique), role (CUSTOMER | SELLER | ADMIN), isBanned (Boolean), isPremium (Boolean), premiumExpiresAt (DateTime?)\n\n### Store\n- id (Int PK), name, description, logoUrl (String?), thumbnailUrl (String?), currentStatus (PENDING | ACTIVE | SUSPENDED | REJECTED), template (DEFAULT | MINIMAL | MODERN | CLASSIC), userId (FK → User.id)\n\n### Product\n- id (Int PK), name, description, price (Float), displayPrice (String), stock (Int), status (AVAILABLE | UNAVAILABLE), isBanned (Boolean), verificationStatus (PENDING | APPROVED | REJECTED), verificationNote (String?), subcategoryId (FK → Subcategory.id), thumbnailId (FK → ProductImage.id, nullable), storeId (FK → Store.id)\n\n### ProductImage\n- id (Int PK), url (String), alt (String?), productId (FK → Product.id)\n- Note: Product.thumbnailId references this table. To get a product's thumbnail URL: JOIN ProductImage pi ON pi.id = p.thumbnailId\n\n### Order\n- id (Int PK), userId (FK → User.id), storeId (FK → Store.id), status (PENDING | CONFIRMED | PROCESSING | SHIPPED | DELIVERED | CANCELLED | REFUNDED), totalAmount (Float), city, state, country, zipCode, streetAddress, notes (String?)\n\n### OrderItems\n- id (Int PK), orderId (FK → Order.id), productId (FK → Product.id), quantity (Int), unitPrice (Float), subtotal (Float)\n\n### Category\n- id (Int PK), name\n\n### Subcategory\n- id (Int PK), name, categoryId (FK → Category.id)\n\n### ProductTag\n- id (Int PK), name (unique) — linked to Product via _ProductToProductTag (productId, tagId)\n\n### FeaturedProduct\n- id (Int PK), productId (unique FK → Product.id), position (Int)\n\n### FeaturedStore\n- id (Int PK), storeId (unique FK → Store.id), position (Int)\n\n### Setting\n- key (String PK), value (Text)\n\n## Rules\n1. ONLY run SELECT queries — never INSERT, UPDATE, DELETE, DROP, or any DDL.\n2. Never query the Session, Account, or Verification tables.\n3. Always filter public-facing product queries with: status = 'AVAILABLE' AND isBanned = false AND verificationStatus = 'APPROVED'\n4. Always filter public-facing store queries with: currentStatus = 'ACTIVE'\n5. Use JOINs when related data is needed (e.g. store name on a product).\n6. Add LIMIT 50 to queries that could return many rows, unless the user asks for more.\n7. If the question is ambiguous, ask a clarifying question before querying.\n8. Return results in a clean format — use tables or bullet points where helpful.\n9. If no results are found, say so clearly.\n"
        }
      },
      "id": "c6f7cd4c-8213-4561-bc6d-9eea18298ed5",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        112,
        -160
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -128,
        64
      ],
      "id": "a74cf87e-0c6b-4fd9-be04-97409ffc4b54",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Lgn8GBOiIQdPIrUF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $fromAI('query', 'A valid MySQL SELECT query for the cheebo database. Only SELECT statements are allowed.') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        320,
        64
      ],
      "id": "310ef9c8-64f1-4ffe-90ca-a73b795fa0aa",
      "name": "Execute a SQL query in MySQL",
      "credentials": {
        "mySql": {
          "id": "M4JqIk34rqJM75l4",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        176,
        64
      ],
      "id": "13e66af7-8397-4a5d-9d45-6a4274e3d02f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cheebo-ai-chat",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -176,
        -160
      ],
      "id": "5de1b970-b714-43e7-8a72-be056e052991",
      "name": "Webhook",
      "webhookId": "39dde4c0-bac9-4541-ba35-4ce07eddeff8",
      "credentials": {
        "httpHeaderAuth": {
          "id": "m0gIyhphvAjucASz",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"output\": $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        512,
        -160
      ],
      "id": "e5a2ff56-7e59-4722-8fb3-4d27c13f88bf",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        32,
        64
      ],
      "id": "68330415-43c4-4c05-a8b4-306659334684",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "djIv99vepslhXXeQ",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Execute a SQL query in MySQL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "db4d7048-e590-4c8e-bbfa-7464d8278e5e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e6bfd841957965bed16e456aa118e2933bc95f3cbf7916a02862ee9c4c58cd1"
  },
  "id": "ziQZbFxX2wPLEfOU",
  "tags": []
}