listings/Products_Stores verification.json
{
  "name": "Products/Stores verification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cheebo-ai-verify",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        200
      ],
      "id": "0ed38928-c624-4cbc-95dd-47789c76a264",
      "name": "Webhook",
      "webhookId": "39dde4c0-bac9-4541-ba35-4ce07eddeff8",
      "credentials": {
        "httpHeaderAuth": {
          "id": "m0gIyhphvAjucASz",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Turn the images array into one item per image so each is screened.\nconst b = $json.body ?? {};\nconst images = Array.isArray(b.images) ? b.images : [];\nreturn images.map((path) => ({ json: { imagePath: path }, pairedItem: { item: 0 } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -180,
        200
      ],
      "id": "a0000000-1111-2222-3333-444455556666",
      "name": "Split Images"
    },
    {
      "parameters": {
        "url": "=http://backend:3000{{ $json.imagePath }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        40,
        200
      ],
      "id": "b1a2c3d4-1111-2222-3333-444455556666",
      "name": "Download Image"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Decide whether this marketplace submission is appropriate for a general-audience e-commerce platform. Judge BOTH the attached image and the text below.\nType: {{ $('Webhook').item.json.body.type }}\nName: {{ $('Webhook').item.json.body.name }}\nDescription: {{ $('Webhook').item.json.body.description }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a strict marketplace content moderator. Flag the submission if the IMAGE or the text shows nudity or sexual content, weapons, illegal drugs, hate symbols, graphic violence, or anything else inappropriate for a general-audience e-commerce marketplace -- even when the name and description look innocent. Base your decision primarily on what the image actually shows. Reply ONLY with valid minified JSON in exactly this shape: {\"decision\":\"approved\"|\"flagged\",\"reason\":\"short explanation\"}. No markdown, no code fences, no extra text."
            },
            {
              "type": "HumanMessagePromptTemplate",
              "messageType": "imageBinary"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        260,
        200
      ],
      "id": "c2b3d4e5-2222-3333-4444-555566667777",
      "name": "Moderate"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        260,
        420
      ],
      "id": "fbfda46b-af43-45f3-9382-7e1fb0114023",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "Lgn8GBOiIQdPIrUF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Aggregate the per-image decisions: flag the submission if ANY image is flagged.\nconst items = $input.all();\nlet decision = \"approved\";\nconst reasons = [];\nfor (const it of items) {\n  const raw = it.json.output ?? it.json.text ?? \"\";\n  let parsed;\n  try {\n    const cleaned = raw.replace(/```json?|```/g, \"\").trim();\n    parsed = JSON.parse(cleaned);\n  } catch {\n    parsed = { decision: \"flagged\", reason: \"AI response could not be parsed.\" };\n  }\n  if (![\"approved\", \"flagged\"].includes(parsed.decision)) {\n    parsed.decision = \"flagged\";\n    parsed.reason = parsed.reason ?? \"Unexpected AI response.\";\n  }\n  if (parsed.decision === \"flagged\") {\n    decision = \"flagged\";\n    if (parsed.reason) reasons.push(parsed.reason);\n  }\n}\nconst reason = decision === \"flagged\" ? reasons.join(\" | \") : \"All images passed AI screening.\";\nreturn [{ json: { decision, reason }, pairedItem: { item: 0 } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        200
      ],
      "id": "1e7b8874-d3e9-4055-a9d2-9abf6a08e074",
      "name": "Combine Results"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=http://backend:3000/{{ $('Webhook').item.json.body.type }}/{{ $('Webhook').item.json.body.id }}/ai-review",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "${N8N_WEBHOOK_SECRET}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"decision\": \"{{ $json.decision }}\",\n  \"reason\": \"{{ $json.reason }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        700,
        200
      ],
      "id": "8d787d86-9f59-4e9a-a88b-572da11087e4",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        920,
        200
      ],
      "id": "71c95f21-32f0-4073-80dc-5a8b1d0c364e",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Images": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Moderate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Moderate",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Moderate": {
      "main": [
        [
          {
            "node": "Combine Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Results": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "6a40a963-0657-4280-aced-681dd26c2b18",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0e6bfd841957965bed16e456aa118e2933bc95f3cbf7916a02862ee9c4c58cd1"
  },
  "id": "ecbBP3nJYa4YPf6S",
  "tags": []
}
